/*--------------------------------------------------
	BODY
----------------------------------------------------*/
*
{
	margin: 0px 0px 0px 0px;
    transition: opacity 1s;
}

h4
{
    font-size: 15px;
}
.newReleaseArtist{   font-size: 16px; color: var(--theme-secondary);  }
.newReleaseTitle{   font-size: 12px; color: var(--theme-secondary);  }

body
{
	height: vh;
    overflow: hidden;
    width: vw;
	background-repeat: none;
    font-weight: 100;
    color: #A8B2B9;
}

p
{
	color: #FFFFFF;	
}

/**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */



@media screen and (min-width: 850px) {
  .wrapper {
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
  }
}

main {
  top: 30;
  grid-area: content;
  padding: 48px;
}

.CurrMonth{
    color: var(--theme-secondary);
    text-shadow: 1px 1px 15px #A8B2B9;
	font-weight: bold; 
    font-size: 60px;
    position: relative;
    left: -80px;
}

.CurrYear{
    color: var(--theme-secondary);
    text-shadow: 1px 1px 15px #A8B2B9;
	font-weight: bold; 
    font-size: 48px;

}




/* MAIN */

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 68px;
  margin-top: 30x;
}
.calendar{
    position:relative;
    top: -50px;
}

.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
}
.calendar__week {
  grid-auto-rows: 100px;
  text-align: right;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.c_day {
  padding: 16px;
}


.menu__icon {
  font-size: 1.3rem;
}

@media screen and (min-width: 850px) {
  .menu__icon {
    font-size: 0.9rem;
    padding-right: 16px;
  }
  .menu__item--active {
    border-left: 4px solid var(--theme-secondary);
    box-shadow: inset 10px 0px 17px -13px var(--theme-secondary);
  }
}

.calendar {
  background-color: white;
  border: 1px solid #e1e1e1;
}

.calendar__header > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.c_day {
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

.c_day:last-child {
  border-right: 0;
}

.toggle{
  display: grid;
  grid-template-columns: 1fr 1fr;

  text-align: center;
  font-size: 0.9em;
}
.MonthButton{
  margin: 5px 5px 5px 5px;
  padding: 16px;
  border-radius: 18px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
}

.MonthButton:hover{
  border-color: white;
  background-color: white;
  color: var(--theme-secondary);
  font-weight: 500;
  box-shadow: 1px 2px 30px -5px var(--theme-secondary);
}

#c_Today
{
  border-color: white;
  background-color: white;
  color: var(--theme-secondary);
  font-weight: 500;
  box-shadow: 1px 2px 30px -5px var(--theme-secondary);
}

