/*--------------------------------------------
	loading bar
--------------------------------------------*/

.LoadingBar
{
	position: absolute;
	width: 900px;
	height: 900px;
	z-index: 200;
	opacity: 1;
	
    top: 800px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	transition: opacity 0.5s;
}

tr:not(th)
{
	opacity: 0.1;
	transition: opacity 1.2s;
}

	