/*--------------------------------------------------
	MAIN IMAGE
----------------------------------------------------*/
img
{
	padding: 0px 0px 0px 0px;
	opacity: 1;
	transition: opacity 10s;
}

.MainImageHolder
{
	top:0px;
	width: vw;
	height: 25vw;
	overflow: hidden;	
	box-shadow: 0px 7px 20px var(--theme-secondary);
}

.HomeImage
{
	top: 200px;
	width: 100%;
	height: 170%;
}