
/* The root of the document, with appropriate variables */



/*--------------------------------------------------
	Navigation Bar
----------------------------------------------------*/
*
{
	font-family: var(--theme-font);
}
.topnav 
{
  	z-index:100;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: var(--theme-primary);
  	width: 100%;
	height: 40px;
	overflow: hidden;	
	opacity: 0.80;
	box-shadow: 0px 7px 20px var(--theme-secondary);

}

.topnav a 
{
	height: 100%;
	width: 8%;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 6px 6px 6px;
	text-decoration: none;
	font-size:17px;
	font-weight: bold;

	transition: background-color 0.6s, color 0.6s;
}

.topnav a:hover 
{
  background-color: #ddd;
  color: black;
}

.topnav a.active 
{
  background-color: var(--theme-secondary);
  color: white;
}

.NavLogo
{
	float:left;
	height: 100%;
	border-radius: 35%;	
}

/* the login box ====================*/


