/*--------------------------------------------------
	BODY
----------------------------------------------------*/
*
{
	margin: 0px 0px 0px 0px;
	font-family: var(--theme-font);
	
}

body
{
	height: 1300px;
	width: vw;
	background: var(--theme-gradient);
	background-repeat: no-repeat;
	background-size: auto;
}

h1
{
	color: #FFFFFF;
	font-weight: bold;
}

h3
{
	color: #FFFFFF;
	font-weight: bold;
}

.stars
{
	color: #dba63a;
	font-weight: bold;
}

p
{
	color: #FFFFFF;
	
}

.songName
{
	color: #FFFFFF;
	font-weight: bold;
}	

/*--------------------------------------------------
Main Image Caption alterations
----------------------------------------------------*/

.HomeImageTitle
{
	position:absolute;
	top: 14vh;
    	left: 6vw		
}

.HomeImageCaption
{
	position: absolute;
	top: 24vh;
    	left: 6vw;		
}

/*--------------------------------------------------
	New Table
----------------------------------------------------*/

.newTable
{
	position: relative;
	top: 30px;
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: #000000;
	border-radius: 10px;
	box-shadow: 0px 7px 20px var(--theme-secondary);	
}

th
{
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 7px 20px var(--theme-secondary);
}

.mainTitle
{
	font-family: "Baumans";
	color: #FFFFFF;
	font-weight: bold;
	height: 40px;
}


.newTable td
{
	height: 100px;
	width: 100px;
	background: var(--theme-secondary);
	padding: 10px 10px 10px 10px;
	overflow: hidden;
	border-radius: 10%;
	box-shadow: 0px 7px 20px var(--theme-secondary);	
}

tr
{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.ContentBin
{
	position: relative;
}


.FreshImage
{
	position: absolute;
	top: 0px;
	left: 0px;	

	border-radius: 15%;
	height: 370px;
	width: 370px;
	z-index: 10;
	transition: opacity 0.6s;
}

.FreshImage:hover
{
	opacity: 0;
}

.songName
{
	text-align: center;
}

.songInfo
{
	position: abolsute;
	overflow: hidden;
	border-radius: 10%;
	background: #000000;
	z-index: 0;
	height: 350px;
	width: 350px;
	
}

.songInfo th
{
	width: 100%;
	height: 20px;
	border-radius: 10%;
	box-shadow: 0px 7px 20px var(--theme-secondary);	
}

.songInfo tr
{
	width: 100%;
	height: 20px;
	border-radius: 10%;
	box-shadow: 0px 7px 20px var(--theme-secondary);	
}

.songInfo td
{
	width: 100%;
	height: 20px;
	border-radius: 10%;
}