body
{
	font-family: var(--theme-font);
	

}

div
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: auto;
	margin-bottom: 25px;
	margin-top: 25px;
}

#title
{
	font-size:35px;
	font-weight: bold;
}

#subtitle
{
	font-size:25px;
}

#smalltext
{
	width: 60%;
}